/** Global **/

body { font-family: "Poppins", sans-serif; font-weight: 400; font-style: normal; font-size: 18px; }

/** Form Styles **/
.form-container { height: 100vh; display: flex; justify-content: center; align-items: center; width: 100%; flex-direction: column; padding: 0 22px; }
.form-title { font-size: 44px; font-weight: 600; }
.form-cntrl { display: flex; flex-direction: row; align-items: center; gap: 22px; border: solid 1px black; padding: 12px 22px;  border-radius: 25px; }
.input-icon { font-size: 17px; display: inline-block; opacity: 0.5; }
label { font-size: 24px; margin: 16px 0 12px 0; display: block; }
input { font-size: 16px; width: 100%; }

.form-btn { cursor: pointer; margin-top: 22px; background-color: rgb(18, 88, 180); padding: 14px 32px; border-radius: 25px; color: #fff; width: 100%; }


@media screen and ( max-width: 514px ) {
    .form-title { font-size: 32px; }
    label { font-size: 18px; }
    
}
@media screen and ( max-width: 340px ) {
    .form-title { text-align: center; }}